a.o
a.out
/main.s
pluto
test
*.o
*.ll
.DS_Store

# only ignore built binaries in tests
tests/**

# but don’t ignore the directory tree itself (so we can re-include below)  
!tests/**/

# now re-include any .pt .spt or .exp anywhere under tests/  
!tests/**/*.pt
!tests/**/*.spt
!tests/**/*.exp

# ignore diff.txt files
diff.txt

